@model ProjetoGuru.Models.UsuarioCategoria

@{
    ViewBag.Title = "Desvincular Categoria";
}

<h2>Desvincular Categoria</h2>

<h3>Tem certeza que deseja desvincular esta categoria?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Desvincular" class="btn btn-default" /> |
            @Html.ActionLink("Categorias Vinculadas", "Index")
        </div>
    }
</div>
