@model IEnumerable<ProjetoGuru.Models.UsuarioCategoria>

@{
    ViewBag.Title = "Categorias Vinculadas";
}

<h2>Categorias Vinculadas</h2>

<p>
    @Html.ActionLink("Vincular Categoria", "Create")
</p>
<br />
<table class="table">
    <tr>
        <th>
            Lista de Categorias Vinculadas
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.UsuarioCategoriaID })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Perfil do Usuário", "../Usuario/Details/"+Session["usuarioID"])
</div>